#log {
    position:absolute;
    top:10px;
    font-size:1.0em;
    font-weight:bold;
    color:#23A4FF;
}

#infovis {
    position:relative;
    width:1200px;
    height:800px;
    margin:auto;
    overflow:hidden;
	background-color:#1a1a1a;
}
