html, body{
  height: 100%;
}

#treeCanvas {
    width:100%;
    min-height: 100%;
	background-color : #FFFACD;
}

#registration {
	display: none;
}

form p { position:relative }
form p label { position: absolute; top: 0; left: 0;}
