<!DOCTYPE html> 
<html> 

<body> 

<div id="createEdit">
 <h2>Création / Edition</h2>

 <form id="CreateEditPersonForm" action="" method="post">
 <fieldset>
 <p>
 <label for="name">Nom Complet</label>
 <input id="name" name="name" type="text" class="text" value="" />
 </p>

 <p>
 <label for="tel">Date de naissance</label>
 <input id="tel" name="tel" type="tel" class="text" value="" />
 </p>

 <p>
 <label for="sex">Sexe</label>
 <input id="sex" type="radio" name="Sexe" value="male" />  Mâle
 <input id="sex" type="radio" name="Sexe" value="female" /> Femelle
 </p>

 <p>
 <button id="registerNew" type="submit">Valider</button>
 <button id="registerNew" type="submit">Annuler</button>
 </p>
 </fieldset>

 </form>
 </div>


</body>
</html>